 body{
  background-color: #33649d;
 }
 .container-nav {
    background-color: #333;
    padding: 10px 0;
    color: #fff;
  }
  
  .navbar {
    display: flex;
    
   
  justify-content: space-between;
    
   
  align-items: center;
  }
  
  .brand {
    color: #71d1e2;
    
   
  font-size: 30px;
    
   
  text-decoration: none;
  }
  
  .nav-links {
    list-style-type: none;
    
   
  margin: 0;
    
   
  padding: 0;
    
   
  display: flex;
  }
  
  .nav-links li {
    
   
  margin-left: 10px;
  }
  
  .nav-links li a {
    
   display: flex;
  color: #9fd2f8;
    text-decoration: none;
    font-size: 30px;
  }
  
  .button-menu-toggle {
    
   
  display: none;
    
   
  background-color: #333;
    
   
  color: #fff;
    
   
  border: none;
    
   
  padding: 5px 10px;
    
   
  cursor: pointer;
    
   
  font-size: 16px;
  }
  
iframe {
    width: 100%;
    height: 315px;
}

.container h1 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  
}
   .container section h2{
    display: flex;
  font-size: 30px;
  justify-content: flex-start
   } 
.presentacion p{
  display: flex;
  font-size: 23px;
  font-weight: bold;
}

section {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #f2f2f2;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}
.containers{
    background-color: #332f2f;
  }

  .footer {
    background-color: #333;
    color: #ccc7c7;
    padding: 40px 0;
    text-align: center;
  }

  .footer p {
    margin: 0;
  }

  .footer .logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .footer ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
  }

  .footer ul li {
    display: inline-block;
    margin-right: 10px;
  }

  .footer ul li a {
    color: #d8e8e8;
    text-decoration: none;
  }

  .footer .social {
    margin-top: 20px;
    background-color: rgb(37 37 37);;
  }

  .footer .social a {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #141313;
    border-radius: 70%;
    margin-right: 10px;
    color: #333;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }

  .footer .social a:hover {
    background-color: #555;
    color: #332f2f;
  }


  @media (min-width: 1282px) {
    div {
        background-color:#5487e6 ;
    } }

  @media (max-width: 767px) {
    div {
        background-color:407bbd;
    } 
}

@media (max-width: 1282px) {
    nav {
        font-size: 16px;
        
    } 
}

@media (max-width:1282px) {
  .imagen{
    flex-direction: column;
    align-items: center;
    
  }
  
}

@media (max-width: 1282px) {
    .column {
      flex: 100%;
    }
  
  
    .nav-links {
      display: none;
    }
  
  
    .button-menu-toggle {
      display: block;
      background-color: rgb(29, 137, 232);
      border:none;
      border-radius: 50px;
      padding: 0 24px;
      font-family: monospace;
      font-weight: bold;
      font-size: 20px;
    }
    
  .nav-links.nav-links-responsive {
    position: absolute;
    display: flex;
    background-color: rgba(16, 43, 14, 0.95);
    width: 100%;
    height: 100%;
    top: 70px;
    left: 0;
    flex-direction: column;
    padding-top: 200px;
    align-items: center;
    gap:70px;
    font-size: 40px;


  }
}


/* estilo.css */

.imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .imagen img {
    margin: 10px;
    max-width: 100%;
    height: auto;
  }
  
  /* Estilos responsivos */
  @media screen and (max-width: 768px) {
    .imagen img {
      max-width: calc(50% - 20px);
    }
  }
  



